body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}

/*header*/
.header{
	width: 100%;
	border-bottom: 3px solid #cccccc;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 5;
	background: white;
	/*position: relative;*/
}
.header1{
	width: 1191px;
	height: 38px;
	margin: 0 auto;
	line-height: 38px;
}
.header .dl{
	float: right;
	padding-right: 10px;
	display: inline-block;
	height: 32px;
}
.header1 .dl a{
	font-size: 12px;
	line-height: 12px;
	color: #9f9f9f;
	padding: 0 9px;
	border-right: 2px solid #e7e7e7;
}
.header1 .dl a:first-child{
	color: #ef4222;
}
.header1 .dl a:last-child{
	border-right: none;
}
.header1 .dl a:hover{
	color: #ef4222;
}
.header1 .gwc{
	display: inline-block;
	float: right;
	margin-right: 10px;
	height: 32px;
	/*box-sizing: border-box; */    /*怪异盒模型*/
}
.header1 .gwc .gwca:hover .gg{
	color: #ef4222;
}
.header1 .gwc .gg{
	font-size: 12px;
	line-height: 12px;
	color: #9f9f9f;
}
.header1 .gwc .cc{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/1.png) no-repeat -209px 0;
	margin-top: 10px;
}
.header1 .gwc .ww{
	color: #ef4222;
}
.header1 .gwc .gwcz{
	width: 52px;
	height: 30px;
	display: inline-block;
	position: relative;
	top: -8px;
	left: -4px;
	margin-left: 0;
	position: relative;
	padding-right: 6px;
}
.header2{
	width: 1191px;
	height: 66px;
	margin: 0 auto;
}
.header2 .logo{
	width: 200px;
	height: 51px;
	background: url(../img/1.png) no-repeat scroll top left;
	position: relative;
	top: -13px;
	/*left: 3px;*/
	display: inline-block;
}
.header2 .sousuo{
	width: 170px;
	height: 30px;
	border: 1px solid #dddddd;
	display: inline-block;
	float: right;
	position: relative;
	top: 20px;
	left: -8px;
} 
.header2 .sousuocon{
	width: 138px;
	height: 28px;
	color: #999999;
	font-size: 12px;
	/*outline: none;  去掉输入框点击的默认蓝色边框*/
	border: none;
	padding-left: 2px;
	position: relative;
	top: -3px;
}
.header2 .sousuoimg{
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(../img/1.png) no-repeat -235px 0;
	position: relative;
	top: 4px;
}

.main{
	height: 1861px;
	background: #f1f1f1;
	padding-top: 70px;
	padding-bottom: 40px;
}
.trolley{
	width: ;
	height: ;
	background: white;
}

/*ppdt*/
.ppdt{
	width: 1192px;
	margin: 0 auto;
	overflow: hidden;
}
.ppdt ul{
	/*display: block;*/
	width: 100%;
	height: 47px;
	padding-top: 40px;
	padding-bottom: 42px;
	clear: both;
}
.ppdt ul li{
	width: 25%;
	height: 47px;
	float: left;
}
.ppdtli .liimg{
	display: inline-block;
	width: 44px;
	height: 47px;
	background: url(../img/1.png) no-repeat -1px -61px;
}
.ppdtli .lititle{
	display: inline-block;
	color: #777777;
	font-size: 16px;
	padding-left: 10px;
	position: relative;
	top: -10px;
}
.ppdtli a:hover .lititle{
	color: #ef4222;
}
.ppdtli .img2{
	background: url(../img/1.png) no-repeat -47px -61px;
}
.ppdtli .img3{
	background: url(../img/1.png) no-repeat -93px -61px;
}
.ppdtli .img4{
	background: url(../img/1.png) no-repeat -139px -61px;
}

/*ljmain*/
.ljmain{
	width: 100%;
	border-top: 1px solid #eaeaea;
}
.lj{
	width: 1192px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 32px;
	overflow: hidden;
}
.lj dl{
	width: 212px;
	display: inline-block;
	float: left;
}
.lj dl dt{
	color: #777777;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 8px;
}
.lj dl dd a{
	color: #777777;;
	font-size: 12px;
	line-height: 30px;
}
.lj dl dd a:hover{
	color: #ef4222;
}
.lastdl a{
	position: relative;
	top: -2px;
	padding-left: 2px;
}
.lastdl span{
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}
.xl{
	background: url(../img/1.png) no-repeat -378px -66px;
}
.tx{
	background: url(../img/1.png) no-repeat -404px -66px;
}
.qq{
	background: url(../img/1.png) no-repeat -429px -66px;
}
.lj dl dd a:hover .xl{
	background: url(../img/1.png) no-repeat -378px -91px;
}
.lj dl dd a:hover .tx{
	background: url(../img/1.png) no-repeat -404px -91px;
}
.lj dl dd a:hover .qq{
	background: url(../img/1.png) no-repeat -429px -91px;
}
.ma{
	float: left;
	padding-left: 16px;
}
.erweima{
	width: 100px;
	height: 100px;
	border: 3px solid #cccccc;
}
.erweima img{
	display: block;
	margin-top: 4px;
	margin-left: 4px;
}
.ma p{
	color: #999999;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
}

/*footer*/
.footer{
	width: 100%;
	background: #333333;
}
.footermain{
	width: 1192px;
	height: 146px;
	margin: 0 auto;
	padding-top: 10px;
	color: #999999;
	font-size: 12px;
}
.footermain .p1{
	line-height: 40px;
}
.footermain a{
	color: #999999;
	font-size: 12px;
}
.footermain a:hover{
	color: white;
}
.footermain .p3{
	clear: both;
	line-height: 40px;
}
.p1 a{
	padding-right: 6px;
}
.tt{
	width: 88px;
	display: inline-block;
	line-height: 26px;
	position: relative;
	padding-left: 4px;
	border-radius: 2px;
}
.tt1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 88px;
	background: #474747;
	padding-left: 4px;
	display: none;
	line-height: 26px;
}
.tt:hover{
	background: #474747;
}
.tt:hover .tt1{
	top: 26px;
	display: inline-block;
}
.tt .bg{
	position: relative;
	top: -4px;
	left: 6px;
	display: inline-block;
	width: 0;
    height: 0;
    overflow: hidden;
	border-top: solid 4px #999;
    border-left: solid 4px #474747;
    border-right: solid 4px #474747;
}
.tt:hover .bg{
	border-top: 0;
	border-bottom: solid 4px white;
    border-left: solid 4px #474747;
    border-right: solid 4px #474747;
}
.p2a{
	float: left;
	line-height: 47px;
	padding-right: 10px;
}
.p2img{
	float: left;
}
.p2img img{
	height: 46px;
	display: block;
	float: left;
	padding-right: 10px;
}
.yy{
	float: right;
	background: #474747;
	text-align: center;
	line-height: 24px;
	position: relative;
	border-radius: 2px;
}
.a1{
	width: 100px;
	height: 24px;
	position: absolute;
	background: #474747;
	display: none;
}
.a2{
	display: inline-block;
	width: 100px;
	height: 24px;
}
.yy:hover .a1{
	display: block;
	top: -24px;
}
.yy span{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: pink;
	position: relative;
	top: -4px;
	left: 2px;
	background: url(../img/1.png) no-repeat -463px -66px;
}
.yy:hover span{
	background: url(../img/1.png) no-repeat -453px -66px;
}

.caidanlan{
	width: 60px;
	height: 288px;
	color: black;
	font-size: 12px;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #CCCCCC;
	z-index: 6;
	background: white;
}
.caidanlan a{
	width: 58px;
	height: 68px;
	font-size: 12px;
	color: black;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
}
.cdl1,.cdl2,.cdl3{
	display: block;
	width: 28px;
	height: 28px;
	background: pink;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 7px;
}
.cdl1{
	background: url(../img/2.png) no-repeat -2px 0px;
}
.cdl2{
	background: url(../img/2.png) no-repeat -33px 0px;
}
.cdl3{
	background: url(../img/2.png) no-repeat -64px 0px;
}
.caidanlan a:hover{
	color: #ef4222;
}
.caidanlan a:hover .cdl1{
	background: url(../img/2.png) no-repeat scroll -2px -31px;
}
.caidanlan a:hover .cdl2{
	background: url(../img/2.png) no-repeat scroll -33px -31px;
}
.caidanlan a:hover .cdl3{
	background: url(../img/2.png) no-repeat scroll -64px -31px;
}
.cdl4{
	width: 52px;
	height: 52px;
	display: block;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 2px;
}
.cdl4 img{
	width: 100%;
	height: 100%;
}